* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
}

input {
  padding: 0;
}

textarea {
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  object-fit: cover;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.05);
  cursor: zoom-in;
}
.container {
  width: 1128px;
  margin: 0 auto;
}
